@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-one : #8261EE;
    --color-two : #FF589E;
    --color-text : #1E1E1E;
    
    --font: 'Raleway', sans-serif; 
}

body {
    color: var(--color-text);
    line-height: 1.6;
    font-family: var(--font);
}

.button {
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    border-radius: 45px;
    color: var(--color-text);
}

.button-one {
    background-color: var(--color-one);
    color: white;
}

.button-one:hover {
    background-color: var(--color-two);
    color: white;
}

.button-two {
    background-color: var(--color-two);
    color: white;
}

.button-two:hover {
    background-color: var(--color-one);
    color: white;
}

.box1-another {
    background-color: var(--color-two);
}
